
.todo-card {

    background-color: #89adaf;

    display: flex;
    flex-direction: column;

    margin: 5% 10% 5% 10%;

    height: 30%;
    width: 250px;


}


.card {
    padding: 10px;

}

.button-advance{
    margin: 5%;
}