
.todo-card {

    background-color: #89adaf;

    display: flex;
    flex-direction: column;

    margin: 2% 5% 1% 5%;

    height: 30%;
    width: 25%;


}


.card {
    padding: 10px;

}

.button-advance{
    margin: 5%;
}